FORMAT: 1A
HOST: https://api.ritekit.com
# RiteKit API

RiteKit API is based on REST principles.

Authentication uses standard OAuth 2.0 process

##Getting started
1. Sign up for [RiteKit](https://ritekit.com/)
1. Go to [developer dashboard](https://ritekit.com/developer/dashboard/)
1. Click "Create a token" button to get your **Client ID** and **Client secret**
1. Study the documentation below (for more info on oAuth go to http://oauth.net/)
1. When you reach your free limit of calls per month, [upgrade to paid tiers](https://ritekit.com/developer/)

## Options for authorizing API Calls


#### A) Using Client ID directly

You can directly connect to our API using your **client ID** by sending it as a GET query parameter. This option is simple (no need for oAuth) but it should be used only in case the Client ID is not exposed publicly.

    GET  https://api.ritekit.com/v1/stats/basic/php?client_id=292c6912e7710c838347ae178b4a


#### B) Using Access token (oAuth 2.0)
Once you have valid Access token, you can access our API by sending the token in the Authorization header bearer or as a query Access token. See the oAuth 2.0 section to learn how to get Access token and keep refreshing it.

    Authorization: Bearer xxxx

Or

    GET  https://api.ritekit.com/v1/stats/basic/php?access_token=292c6912e7710c838347ae178b4a


## oAuth 2.0

![oauthschema](https://cdn.ritekit.com/assets/media/1/oauth-simple.png)

### Get Access Token

Use your Client Credentials to get the token.

    POST   https://ritekit.com/oauth/token

           grant_type=client_credentials
           &client_id=CLIENT_ID
           &client_secret=CLIENT_SECRET
           &scope=data

- [required] grant_type - client_credentials
- [required] client_id (CLIENT ID)
- [required] client_secret (CLIENT SECRET)
- [required] (always use scope=data)


#### Response

    {
        "access_token":292c6912e7710c838347ae178b4a,
        "token_type":"bearer",
        "expires_in": 3600,
        "refresh_token":292c6912e7710c838347ae178b4a,
    }


### Refresh token

Every Access token has a lifetime. You can use Refresh token to request a new Access Token.


    POST   https://ritekit.com/oauth/token

           grant_type=refresh_token
           &refresh_token=REFRESH_TOKEN
           &client_id=CLIENT_ID
           &scope=data

- [required] grant_type - refresh_token
- [required] refresh_token - (REFRESH TOKEN) the refresh token you got from the expired token
- [required] client_id (CLIENT ID)
- [required] client_secret (CLIENT SECRET)
- [required] scope (always use scope=data)


#### Response

    {
        "access_token":292c6912e7710c838347ae178b4a,
        "token_type":"bearer",
        "expires_in": 3600,
        "refresh_token":292c6912e7710c838347ae178b4a,
    }


## Hashtags [/v1/stats/]

### Auto-Hashtag [GET /v1/stats/auto-hashtag?post={post}]

Returns auto-hashtagged text of the post.

+ Parameters

    + post (string, `Is artificial intelligence the future of customer service?`) ... Text of the post

+ Request (text/html; charset=utf-8)

+ Response 200 (application/json; charset=utf-8)

    + Body

            {
                "result": true,
                "code": 200,
                "message": "OK",
                "post": "Is artificial intelligence the #future of #CustomerService?"
            }


### Hashtag Suggestions [GET /v1/stats/hashtag-suggestions/{topic}]

Returns list of hashtag suggestions and their real-time stats for a given topic

+ Parameters

    + topic (string, `seo`) ... Topic

+ Request (text/html; charset=utf-8)

+ Response 200 (application/json; charset=utf-8)

    + Body

            {
                "result": true,
                "code": 200,
                "message": "OK",
                "hashtag": "seo",
                "data": [
                    {
                        "hashtag": "seo",
                        "tag": "seo",
                        "tweets": 1308,
                        "exposure": 7168846,
                        "retweets": 509,
                        "images": 50.6116219,
                        "links": 96.4831772,
                        "mentions": 12.3853207,
                        "color": 3,
                        "frequency": 9.986
                    },
                    {
                        "hashtag": "marketing",
                        "tag": "marketing",
                        "tweets": 2050,
                        "exposure": 18179562,
                        "retweets": 621,
                        "images": 40.0487823,
                        "links": 90.4390259,
                        "mentions": 15.0243902,
                        "color": 3,
                        "frequency": 0.956
                    },
                    {
                        "hashtag": "google",
                        "tag": "google",
                        "tweets": 542,
                        "exposure": 10098533,
                        "retweets": 154,
                        "images": 42.9889297,
                        "links": 96.1254578,
                        "mentions": 9.9630995,
                        "color": 3,
                        "frequency": 0.908
                    },
                    {
                        "hashtag": "website",
                        "tag": "website",
                        "tweets": 246,
                        "exposure": 1802817,
                        "retweets": 79,
                        "images": 62.6016273,
                        "links": 94.7154465,
                        "mentions": 4.8780489,
                        "color": 3,
                        "frequency": 0.812
                    },
                    {
                        "hashtag": "blog",
                        "tag": "blog",
                        "tweets": 625,
                        "exposure": 7824612,
                        "retweets": 204,
                        "images": 35.3600006,
                        "links": 96.6399994,
                        "mentions": 9.2799997,
                        "color": 3,
                        "frequency": 0.717
                    },
                    {
                        "hashtag": "wordpress",
                        "tag": "wordpress",
                        "tweets": 404,
                        "exposure": 1094667,
                        "retweets": 113,
                        "images": 58.9108925,
                        "links": 96.0396042,
                        "mentions": 6.1881189,
                        "color": 3,
                        "frequency": 0.478
                    },
                    {
                        "hashtag": "web",
                        "tag": "web",
                        "tweets": 238,
                        "exposure": 356458,
                        "retweets": 33,
                        "images": 34.873951,
                        "links": 96.2184906,
                        "mentions": 7.1428571,
                        "color": 3,
                        "frequency": 0.43
                    },
                    {
                        "hashtag": "digitalmarketing",
                        "tag": "digitalmarketing",
                        "tweets": 500,
                        "exposure": 12193917,
                        "retweets": 375,
                        "images": 25.0,
                        "links": 90.8000031,
                        "mentions": 13.3999996,
                        "color": 3,
                        "frequency": 0.43
                    },
                    {
                        "hashtag": "webdesign",
                        "tag": "webdesign",
                        "tweets": 229,
                        "exposure": 1736012,
                        "retweets": 92,
                        "images": 23.5807858,
                        "links": 90.8296967,
                        "mentions": 12.6637554,
                        "color": 3,
                        "frequency": 0.382
                    },
                    {
                        "hashtag": "socialmedia",
                        "tag": "socialmedia",
                        "tweets": 1042,
                        "exposure": 21565138,
                        "retweets": 829,
                        "images": 21.9769669,
                        "links": 89.5393448,
                        "mentions": 26.0076771,
                        "color": 3,
                        "frequency": 0.382
                    }
                ]
            }


### Hashtag Stats [GET /v1/stats/multiple-hashtags{?tags}]

Returns real-time stats for up to 100 hashtags (updated hourly).

+ Parameters

    + tags (array, `jobs,hello`) ... Hashtag(s) without # mark

+ Request (text/html; charset=utf-8)

+ Response 200 (application/json; charset=utf-8)

    + Body

            {
                "result": true,
                "code": 200,
                "hashtags": [
                    "jobs",
                    "hello"
                ],
                "message": "OK",
                "stats": [
                    {
                        "hashtag": "jobs",
                        "tag": "jobs",
                        "tweets": 2696,
                        "exposure": 7054962,
                        "retweets": 292,
                        "images": 0.046364985,
                        "links": 0.9784866329999999,
                        "mentions": 0.018545994,
                        "color": 3
                    },
                    {
                        "hashtag": "hello",
                        "tag": "hello",
                        "tweets": 29,
                        "exposure": 95833,
                        "retweets": 38,
                        "images": 0.27586206399999996,
                        "links": 0.8620689389999999,
                        "mentions": 0.0,
                        "color": 2
                    }
                ],
                "color": [
                    "Unused",
                    "Overused",
                    "Good",
                    "Great"
                ]
            }


### Hashtag History [GET /v1/stats/history/{hashtag}]

Returns historical stats for a given hashtag from the last 30 days

+ Parameters

    + hashtag (string, `job`) ... Hashtag without # mark

+ Request (text/html; charset=utf-8)

+ Response 200 (application/json; charset=utf-8)

    + Body

            {
                "result": true,
                "code": 200,
                "message": "OK",
                "hashtag": "job",
                "data": [
                    {
                        "date": "2017-06-26",
                        "tweets": 154300,
                        "retweets": 4800,
                        "links": 0.99,
                        "images": 0.03,
                        "mentions": 0.01,
                        "color": 3,
                        "exposure": 113558500
                    },
                    {
                        "date": "2017-06-27",
                        "tweets": 156000,
                        "retweets": 4000,
                        "links": 1.0,
                        "images": 0.02,
                        "mentions": 0.01,
                        "color": 3,
                        "exposure": 132732200
                    },
                    {
                        "date": "2017-06-28",
                        "tweets": 147500,
                        "retweets": 5500,
                        "links": 1.0,
                        "images": 0.03,
                        "mentions": 0.01,
                        "color": 3,
                        "exposure": 190393800
                    },
                    {
                        "date": "2017-06-29",
                        "tweets": 157700,
                        "retweets": 3800,
                        "links": 1.0,
                        "images": 0.03,
                        "mentions": 0.01,
                        "color": 3,
                        "exposure": 150459900
                    },
                    {
                        "date": "2017-06-30",
                        "tweets": 26100,
                        "retweets": 1000,
                        "links": 1.0,
                        "images": 0.05,
                        "mentions": 0.02,
                        "color": 3,
                        "exposure": 37829700
                    },
                    {
                        "date": "2017-07-01",
                        "unique": 0,
                        "retweets": 0,
                        "links": 0,
                        "images": 0,
                        "mentions": 0,
                        "exposure": 0,
                        "tweets": 0,
                        "color": 0
                    },
                    {
                        "date": "2017-07-02",
                        "tweets": 122100,
                        "retweets": 2400,
                        "links": 1.0,
                        "images": 0.02,
                        "mentions": 0.0,
                        "color": 3,
                        "exposure": 91003500
                    },
                    {
                        "date": "2017-07-03",
                        "tweets": 154800,
                        "retweets": 2600,
                        "links": 1.0,
                        "images": 0.03,
                        "mentions": 0.01,
                        "color": 3,
                        "exposure": 161241400
                    },
                    {
                        "date": "2017-07-04",
                        "tweets": 146200,
                        "retweets": 3600,
                        "links": 1.0,
                        "images": 0.03,
                        "mentions": 0.01,
                        "color": 3,
                        "exposure": 126351800
                    },
                    {
                        "date": "2017-07-05",
                        "tweets": 155000,
                        "retweets": 4900,
                        "links": 0.99,
                        "images": 0.03,
                        "mentions": 0.01,
                        "color": 3,
                        "exposure": 126678900
                    },
                    {
                        "date": "2017-07-06",
                        "tweets": 157400,
                        "retweets": 7000,
                        "links": 1.0,
                        "images": 0.03,
                        "mentions": 0.01,
                        "color": 3,
                        "exposure": 115540500
                    },
                    {
                        "date": "2017-07-07",
                        "tweets": 163800,
                        "retweets": 3400,
                        "links": 1.0,
                        "images": 0.02,
                        "mentions": 0.01,
                        "color": 3,
                        "exposure": 148924500
                    },
                    {
                        "date": "2017-07-08",
                        "tweets": 143300,
                        "retweets": 3300,
                        "links": 1.0,
                        "images": 0.03,
                        "mentions": 0.01,
                        "color": 3,
                        "exposure": 119823700
                    },
                    {
                        "date": "2017-07-09",
                        "tweets": 130900,
                        "retweets": 3100,
                        "links": 1.0,
                        "images": 0.02,
                        "mentions": 0.0,
                        "color": 3,
                        "exposure": 133067200
                    },
                    {
                        "date": "2017-07-10",
                        "tweets": 140200,
                        "retweets": 5300,
                        "links": 1.0,
                        "images": 0.03,
                        "mentions": 0.01,
                        "color": 3,
                        "exposure": 129101400
                    },
                    {
                        "date": "2017-07-11",
                        "tweets": 153500,
                        "retweets": 4900,
                        "links": 1.0,
                        "images": 0.04,
                        "mentions": 0.01,
                        "color": 3,
                        "exposure": 132328100
                    },
                    {
                        "date": "2017-07-12",
                        "tweets": 154800,
                        "retweets": 4200,
                        "links": 1.0,
                        "images": 0.03,
                        "mentions": 0.01,
                        "color": 3,
                        "exposure": 135728800
                    },
                    {
                        "date": "2017-07-13",
                        "tweets": 150100,
                        "retweets": 4200,
                        "links": 1.0,
                        "images": 0.02,
                        "mentions": 0.01,
                        "color": 3,
                        "exposure": 117356400
                    },
                    {
                        "date": "2017-07-14",
                        "tweets": 149900,
                        "retweets": 3700,
                        "links": 1.0,
                        "images": 0.03,
                        "mentions": 0.01,
                        "color": 3,
                        "exposure": 127917200
                    },
                    {
                        "date": "2017-07-15",
                        "tweets": 140000,
                        "retweets": 3300,
                        "links": 1.0,
                        "images": 0.02,
                        "mentions": 0.01,
                        "color": 3,
                        "exposure": 123001600
                    },
                    {
                        "date": "2017-07-16",
                        "tweets": 140400,
                        "retweets": 3700,
                        "links": 1.0,
                        "images": 0.02,
                        "mentions": 0.01,
                        "color": 3,
                        "exposure": 98735200
                    },
                    {
                        "date": "2017-07-17",
                        "tweets": 132900,
                        "retweets": 2900,
                        "links": 1.0,
                        "images": 0.04,
                        "mentions": 0.01,
                        "color": 3,
                        "exposure": 178846200
                    },
                    {
                        "date": "2017-07-18",
                        "tweets": 144400,
                        "retweets": 4900,
                        "links": 1.0,
                        "images": 0.03,
                        "mentions": 0.01,
                        "color": 3,
                        "exposure": 207485900
                    },
                    {
                        "date": "2017-07-19",
                        "tweets": 147700,
                        "retweets": 5400,
                        "links": 1.0,
                        "images": 0.03,
                        "mentions": 0.01,
                        "color": 3,
                        "exposure": 144647600
                    },
                    {
                        "date": "2017-07-20",
                        "tweets": 153700,
                        "retweets": 4000,
                        "links": 1.0,
                        "images": 0.02,
                        "mentions": 0.01,
                        "color": 3,
                        "exposure": 146297300
                    },
                    {
                        "date": "2017-07-21",
                        "tweets": 159300,
                        "retweets": 4700,
                        "links": 1.0,
                        "images": 0.03,
                        "mentions": 0.01,
                        "color": 3,
                        "exposure": 151610900
                    },
                    {
                        "date": "2017-07-22",
                        "tweets": 142100,
                        "retweets": 3200,
                        "links": 1.0,
                        "images": 0.01,
                        "mentions": 0.0,
                        "color": 3,
                        "exposure": 201673600
                    },
                    {
                        "date": "2017-07-23",
                        "tweets": 137500,
                        "retweets": 3900,
                        "links": 1.0,
                        "images": 0.01,
                        "mentions": 0.0,
                        "color": 3,
                        "exposure": 124774800
                    },
                    {
                        "date": "2017-07-24",
                        "tweets": 137500,
                        "retweets": 4600,
                        "links": 1.0,
                        "images": 0.03,
                        "mentions": 0.01,
                        "color": 3,
                        "exposure": 138430200
                    },
                    {
                        "date": "2017-07-25",
                        "tweets": 150800,
                        "retweets": 4200,
                        "links": 1.0,
                        "images": 0.02,
                        "mentions": 0.01,
                        "color": 3,
                        "exposure": 151774000
                    }
                ],
                "color": [
                    "Unused",
                    "Overused",
                    "Good",
                    "Great"
                ]
            }


### Trending Hashtags [GET /v1/search/trending{?green,latin}]

Returns list of hashtags currently trending on Twitter

+ Parameters

    + green = `1` (optional, boolean) ... Restrict results only to green hashtags. Hides overused (red) hashtags.
    + latin = `1` (optional, boolean) ... Restrict results only to hashtags with latin characters

+ Request (text/html; charset=utf-8)

+ Response 200 (application/json; charset=utf-8)

    + Body

            {
                "result": true,
                "message": "OK",
                "code": 200,
                "tags": [
                    {
                        "tag": "rayito",
                        "tweets": 6662,
                        "retweets": 930,
                        "exposure": 1396733,
                        "links": 0.06004,
                        "photos": 0.03317,
                        "mentions": 0.93696,
                        "color": 3
                    },
                    {
                        "tag": "sofiareyestrendy",
                        "tweets": 6312,
                        "retweets": 234,
                        "exposure": 1056150,
                        "links": 0.0019,
                        "photos": 0.00063,
                        "mentions": 0.02709,
                        "color": 3
                    },
                    {
                        "tag": "job",
                        "tweets": 6129,
                        "retweets": 163,
                        "exposure": 6148346,
                        "links": 0.99804,
                        "photos": 0.01566,
                        "mentions": 0.00816,
                        "color": 3
                    },
                    {
                        "tag": "giveaway",
                        "tweets": 5996,
                        "retweets": 2142,
                        "exposure": 3704362,
                        "links": 0.99233,
                        "photos": 0.01601,
                        "mentions": 0.30087,
                        "color": 3
                    },
                    {
                        "tag": "goatsummer",
                        "tweets": 5733,
                        "retweets": 21,
                        "exposure": 1234746,
                        "links": 0.99355,
                        "photos": 0.85906,
                        "mentions": 0.0014,
                        "color": 3
                    },
                    {
                        "tag": "hadith",
                        "tweets": 4675,
                        "retweets": 113,
                        "exposure": 5783475,
                        "links": 0.0,
                        "photos": 0.0,
                        "mentions": 0.0,
                        "color": 3
                    },
                    {
                        "tag": "newprofilepic",
                        "tweets": 4533,
                        "retweets": 1813,
                        "exposure": 2780375,
                        "links": 0.00265,
                        "photos": 0.99448,
                        "mentions": 0.01743,
                        "color": 3
                    },
                    {
                        "tag": "trecru",
                        "tweets": 4462,
                        "retweets": 50,
                        "exposure": 67704,
                        "links": 1.0,
                        "photos": 1.0,
                        "mentions": 0.0,
                        "color": 3
                    },
                    {
                        "tag": "news",
                        "tweets": 4421,
                        "retweets": 1191,
                        "exposure": 32663171,
                        "links": 0.93961,
                        "photos": 0.13572,
                        "mentions": 0.06401,
                        "color": 3
                    },
                    {
                        "tag": "hiring",
                        "tweets": 4325,
                        "retweets": 75,
                        "exposure": 4026442,
                        "links": 0.99699,
                        "photos": 0.00671,
                        "mentions": 0.00671,
                        "color": 3
                    },
                    {
                        "tag": "dannapaola",
                        "tweets": 4217,
                        "retweets": 604,
                        "exposure": 1883750,
                        "links": 0.00095,
                        "photos": 0.00285,
                        "mentions": 0.00498,
                        "color": 3
                    },
                    {
                        "tag": "quran",
                        "tweets": 4029,
                        "retweets": 267,
                        "exposure": 7429950,
                        "links": 0.05063,
                        "photos": 0.00099,
                        "mentions": 0.00199,
                        "color": 3
                    },
                    {
                        "tag": "isabellacastillo",
                        "tweets": 3904,
                        "retweets": 275,
                        "exposure": 1519792,
                        "links": 0.00307,
                        "photos": 0.00102,
                        "mentions": 0.00205,
                        "color": 3
                    },
                    {
                        "tag": "masterchefbr",
                        "tweets": 3621,
                        "retweets": 3237,
                        "exposure": 10647917,
                        "links": 0.0185,
                        "photos": 0.14858,
                        "mentions": 0.05855,
                        "color": 3
                    },
                    {
                        "tag": "losrules",
                        "tweets": 3508,
                        "retweets": 588,
                        "exposure": 1571962,
                        "links": 0.00114,
                        "photos": 0.00342,
                        "mentions": 0.00599,
                        "color": 3
                    },
                    {
                        "tag": "np",
                        "tweets": 3300,
                        "retweets": 1633,
                        "exposure": 45511917,
                        "links": 0.84091,
                        "photos": 0.06576,
                        "mentions": 0.29788,
                        "color": 3
                    },
                    {
                        "tag": "tuitutil",
                        "tweets": 2925,
                        "retweets": 33,
                        "exposure": 4830475,
                        "links": 1.0,
                        "photos": 0.0,
                        "mentions": 0.13265,
                        "color": 3
                    },
                    {
                        "tag": "army",
                        "tweets": 2888,
                        "retweets": 3308,
                        "exposure": 1292375,
                        "links": 0.09522,
                        "photos": 0.11981,
                        "mentions": 0.17036,
                        "color": 3
                    },
                    {
                        "tag": "caelitrendy",
                        "tweets": 2750,
                        "retweets": 296,
                        "exposure": 1227758,
                        "links": 0.00291,
                        "photos": 0.00145,
                        "mentions": 0.00764,
                        "color": 3
                    }
                ]
            }


## Emojis [/v1/emoji/]

### Emoji Suggestions [GET /v1/emoji/suggestions{?text}]

Returns list of emoji suggestions for a given text of the post

+ Parameters

    + text (string, `Why robots may soon steal all manufacturing jobs â but itâs not all bad news`) ... Text of the post

+ Request (text/html; charset=utf-8)

+ Response 200 (application/json; charset=utf-8)

    + Body

            {
                "result": true,
                "code": 200,
                "message": "OK",
                "emojis": [
                    "ð¤",
                    "ð",
                    "â"
                ]
            }


### Auto-Emojify [GET /v1/emoji/auto-emojify{?text}]

Returns text of the post with emoji added

+ Parameters

    + text (string, `Why robots may soon steal all manufacturing jobs â but itâs not all bad news`) ... Text of the post

+ Request (text/html; charset=utf-8)

+ Response 200 (application/json; charset=utf-8)

    + Body

            {
                "result": true,
                "code": 200,
                "message": "OK",
                "text": "Why robots may soon steal all manufacturing jobs â but itâs not all bad news ð¤ðâ"
            }


## Influencers [/v1/influencers/]

### Influencers for a Hashtag [GET /v1/influencers/hashtag/{hashtag}]

Returns list of Twitter influencers for a given hashtag

+ Parameters

    + hashtag (string, `SocialMedia`) ... Hashtag without # mark

+ Request (text/html; charset=utf-8)

+ Response 200 (application/json; charset=utf-8)

    + Body

            {
                "result": true,
                "code": 200,
                "message": "OK",
                "hashtag": "SocialMedia",
                "influencers": [
                    {
                        "username": "marshawright",
                        "photo": "https://pbs.twimg.com/profile_images/669322162948300801/1wMRzXUR.png",
                        "followers": 579523
                    },
                    {
                        "username": "ExploreWeb2dot0",
                        "photo": "https://pbs.twimg.com/profile_images/577832064130527233/dswb_ru9.png",
                        "followers": 8825
                    },
                    {
                        "username": "damyantig",
                        "photo": "https://pbs.twimg.com/profile_images/692891006212009985/L-ZZuJgj.jpg",
                        "followers": 7109
                    },
                    {
                        "username": "sociomarkin",
                        "photo": "https://pbs.twimg.com/profile_images/817747719393513473/bKxFUucD.jpg",
                        "followers": 5362
                    },
                    {
                        "username": "AlexaSocial",
                        "photo": "https://pbs.twimg.com/profile_images/680373065121923072/yfSqVt0a.jpg",
                        "followers": 3623
                    },
                    {
                        "username": "John_Gumatay",
                        "photo": "https://pbs.twimg.com/profile_images/751525206137589760/OAQrtb7z.jpg",
                        "followers": 3512
                    },
                    {
                        "username": "AprendiendoSM",
                        "photo": "https://pbs.twimg.com/profile_images/378800000622308761/1a86e9691674695f9d5dcd6e4371b614.jpeg",
                        "followers": 2797
                    },
                    {
                        "username": "combitodigserv",
                        "photo": "https://pbs.twimg.com/profile_images/734982181282557952/LeYsx1cl.jpg",
                        "followers": 2134
                    },
                    {
                        "username": "Yahyaalireal",
                        "photo": "https://pbs.twimg.com/profile_images/501691485314506752/4aPgdpFo.jpeg",
                        "followers": 2034
                    },
                    {
                        "username": "retailmarketing",
                        "photo": "https://pbs.twimg.com/profile_images/510840605/000802_c703_0073_csms.jpg",
                        "followers": 1055
                    }
                ]
            }


## Images [/v1/images/]

### Create Quote Image [GET /v1/images/quote{?quote,author,fontSize,quoteFont,quoteFontColor,authorFont,authorFontColor,enableHighlight,highlightColor,bgType,backgroundColor,gradientColor1,gradientColor2,gradientType,brandLogo}]

Returns URL of an image created according to given parameters

+ Parameters

    + quote (string, `If you love life, don't waste time, for time is what life is made up of`) ... Text of the quote
    + author (string, `Bruce Lee`) ... Name of the author/source
    + fontSize (integer, `60`) ... Font size for the quote (author font size is calculated automatically)
    + quoteFont (string, `Lora`) ... Font-family used for quote text
    + quoteFontColor (string, `#4f4f4f`) ... Font color of the quote text
    + authorFont (string, `Lato Black`) ... Font-family used for author name
    + authorFontColor (string, `#e5e5e5`) ... Font color of the author
    + enableHighlight (integer, `1`) ... Enable highlight on quote text
    + highlightColor (string, `#f0ea66`) ... Color used for highlight
    + bgType (string, `gradient`) ... Background type (gradient/solid)
    + backgroundColor (string, `#000000`) ... Background color for solid background type
    + gradientType (string, `linear`) ... Type of gradient background (linear/radial)
    + gradientColor1 (string, `#1ee691`) ... First color for gradient background type
    + gradientColor2 (string, `#1ddad6`) ... Second color for gradient background type
    + brandLogo (url, `https://cdn.ritekit.com/assets/img/common/made-with-ritekit-white.png`) ... URL of the brand logo

+ Request (text/html; charset=utf-8)

+ Response 200 (application/json; charset=utf-8)

    + Body

            {
                "result": true,
                "url": "https://media.ritekit.com/media/images/44a963f2-adc4-4918-a4ac-1a0013a24cea.jpeg"
            }


## Link shortening [/v1/links/]

### Shorten Link [GET /v1/link/short-link{?url,cta}]

Returns a shorten link with a given CTA.

+ Parameters

    + url (string, `https://ritekit.com`) ... URL
    + cta (integer, `1`) ... cta id

+ Request (text/html; charset=utf-8)

+ Response 200 (application/json; charset=utf-8)

    + Body

            {
                "result": true,
                "url": "rite.ly/Xe4o",
                "original": "https://ritekit.com",
                "service": "rite.ly",
                "ctaId": "1",
                "limit": {
                    "remaining": 5000
                }
            }


### List of CTAs [GET /v1/link/cta]

Returns list of available CTA for current user. Requires each user to authenticate with RiteKit

+ Request (text/html; charset=utf-8)

+ Response 200 (application/json; charset=utf-8)

    + Body

            {
                "result": true,
                "list": [
                    {
                        "id": "bit.ly",
                        "name": "Bit.ly",
                        "code": "Bit.ly",
                        "default": 0
                    },
                    {
                        "id": 1,
                        "name": "Default",
                        "code": "DFLT",
                        "default": 1
                    }
                ]
            }